@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;;
    outline: none;
    color: white;
}

:root{
    --purple: #535FE6;
    --dark-gray:#1A1D20;
    --text: #fff;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--dark-gray);
}

.image_box {
    display: grid;
    place-content: center;
    background-color: var(--purple);
}
.image_box img{
    width: 500px;
}

.form_container{
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    padding: 1rem;
}

.form_box{
    display: grid;
    padding: 1rem;
}

#title{
    font: bolder 3rem 'Ubuntu';
}

#marker{
    font-size: 6rem;
    color: var(--purple);
}

#zipcode, #marker{
    text-align: center;
}

#cep{
    font-size: 1rem;
    border:none;
    border-bottom: 1px solid var(--text);
    border-radius: 0;
}

#search-btn{
    font-size: 1.3rem;
    margin-left: -1.5rem;
}

#search-btn:hover{
    cursor: pointer;
}

#search-btn:active{
    transform: scale(1.2);
    color: var(--purple);
}

#cep:focus{
    border-bottom: 1px solid var(--purple);
    border-radius: 0;
}

#cep::placeholder{
    color: var(--text);
}

label{
    font-size: 12px;
    margin-bottom: 5px;
}

input{
    margin-bottom: 10px;
    padding: 8px;
    font: lighter 14px 'Ubuntu';
    border:1px solid var(--purple);
    border-radius: 10px;
    background-color: transparent;
}