@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;;
    outline: none;
    color: white;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #1A1D20;
}
.image_box{
    background-color: #535FE6;
}

.form_container, .form_box{
    width: 100%;
    display: grid;
    place-items: center;
    align-items: start;
    align-content: stretch;
}

.form_box{
    padding: 1rem;
}

#title{
    margin-top: 5rem;
    font: bolder 3rem 'Ubuntu';
}

#cep{
    width: 70%;
    font-size: 1rem;
    border:none;
    border-bottom: 1px solid white;
    border-radius: 0;
}

#cep:focus{
    border-bottom: 1px solid #535FE6;
    border-radius: 0;
}

#cep::placeholder{
    color: white;
}

label{
    font-size: 12px;
    margin-bottom: 5px;
}

input{
    width: 70%;
    margin-bottom: 10px;
    padding: 8px;
    font: lighter 14px 'Ubuntu';
    border:1px solid #535FE6;
    border-radius: 10px;
    background-color: transparent;
}